html,
body,
.view {
  height: 100%;
}

body{
  box-sizing: border-box;
  min-height: 99vh;
  background: linear-gradient(292.93deg, rgba(105, 0, 95, 0.63) 0.89%, rgba(105, 0, 95, 0.63) 26.43%, rgba(255, 255, 255, 0) 99.46%), linear-gradient(114.25deg, #001E3A 40.03%, #001E39 67.74%, rgba(18, 57, 93, 0) 101.22%);
}

#mobile-box {
  width: 360px;
  display: none;
}

.card {
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

.card .view {
  -webkit-border-top-left-radius: 10px;
  border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  border-top-right-radius: 10px;
}

.card h5 a {
  color: #0d47a1;
}

.card h5 a:hover {
  color: #072f6b;
}

#pButton {
  float: left;
}

#timeline {
  width: 90%;
  height: 2px;
  margin-top: 20px;
  margin-left: 10px;
  float: left;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  background: rgba(0, 0, 0, 0.3);
}

#pButton {
  margin-top: 12px;
  cursor: pointer;
}

#playhead {
  width: 8px;
  height: 8px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  margin-top: -3px;
  background: black;
  cursor: pointer;
}

#homePage{
    display: none;
}
#endingWave{
  display: none;
}
